*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
/* common styles */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 320px;
    align-items: center;
    margin-bottom: 20px;
}
nav>h2{
    padding: 31px 0px;
    font-size: 32px;
    font-weight: bold;
}
nav>button{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: white;
    border-radius: 8px;
    border-color: #006A50;
    
}

/* banner // Task-1*/
.banner{
    max-width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    margin: 0px auto;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    margin-bottom: 80px;
}
/* .banner-content{
    background-color: #C6E4D6;
} */
.banner-content>h4{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}
.banner-content>p{
    color: #0E0E0E;
    font-size: 56px;
    font-weight: bold;
}
.banner-content>button{
    color: white;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
}

/* Task-2 */
.section-2{
    max-width: 1280px;
    height: 765px;
    margin: 0px auto;
    margin-bottom: 80px;
}
.section-2>h2{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.section-2>p{
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.common-card{
    /* max-width: 410.67px;
     */
    height: 325px;
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 32px;
}
.common-card>h3{
    margin: 24px 0px 12px 0px;
    font-size: 20px;
    font-weight: bold;
}
.common-card>p{
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-bottom: 24px;
}
.common-card>button{
    color: white;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
}
/* special */
.card-description{
    width: 100%;
    padding: 48px 24px;
    border-radius: 16px;
    background-color: white;
    background-image: url('/assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 24px 25px;
    /* background-origin: content-box; */

}
.para{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.card-description>h5{
    margin-bottom: 4px;
    color: rgba(14, 14, 14, 0.8);
    line-break: 24px;
    font-size: 20px;
    font-weight: 600;
}
.extra{
    color: rgba(14, 14, 14, 0.6);
    line-height: 24px;
}

/* section-3 */
.section-3{
    max-width: 1280px;
    height: 1254px;
    margin: 0px auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.section-3>h1{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.section-3>p{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
.card-1{
    display: flex;
    background-color: white;
    padding: 48px;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin-bottom: 24px;
    border-radius: 24px;
}
.card-1>img{
    border-radius: 24px;
}

.news-content>h2{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.news-content>.date{
    margin: 12px 0px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.date{
    display: flex;
    gap: 12px;
}
.news-content>p{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

/* card-2 */
.card-2{
    display: flex;
    background-color: white;
    padding: 48px;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin-bottom: 24px;
    border-radius: 24px;
}
.card-2>img{
    border-radius: 24px;
}

.news-content>h2{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.news-content>.date{
    margin: 12px 0px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.date{
    display: flex;
    gap: 12px;
}
.news-content>p{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

/* card-3 */
.card-3{
    display: flex;
    background-color: white;
    padding: 48px;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin-bottom: 24px;
    border-radius: 24px;
}
.card-3>img{
    border-radius: 24px;
}

.news-content>h2{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.news-content>.date{
    margin: 12px 0px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.date{
    display: flex;
    gap: 12px;
}
.news-content>p{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

